@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    margin: 0px;
    padding: 0px;
    background-color: black;
}


img { 
    width: 100%;
    
   
}

a {
    background-color: rgb(0, 0, 0);
    color: red;
    display: block;
    padding: 10px;
    text-align: center; 
    font-size: 1.5em;
    text-decoration: none;
}

