@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    height: 100vh;
    width: 100vw;
    background: url(../imagens/back-pc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



